* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.head-container {
  width: 100%;
  height: 4.25rem;
  /* padding: 1.5rem 4rem; */
  top: 0px;
  left: 0px;
  position: fixed;
  display: flex;
  justify-content: space-between;
  background-color: #fff;
}



.contact-header {
  padding: 1.5rem 3rem;
}

.contact-header a {
  font-size: 0.75rem;
  line-height: 1rem;
  font-weight: 500;
  color: #000;
  text-decoration: none;
}

.big-header {
  flex: 1;
}

.big-header>svg {
  fill: #000;
  width: 8rem;
  transition: width 0.8s cubic-bezier(0.5, 0, 0, 1) 0s, transform 0.8s cubic-bezier(0.5, 0, 0, 1) 0s;
}

.big-header>svg:hover {
  width: 22rem;
}

.nav-container {
  width: 9.1875rem;
}

.nav-container>svg {
  fill: #000;
  width: 1.5rem;
  height: 1.5rem;
  cursor: pointer;
}

.sidenav {
  height: 100%;
  width: 0%;
  position: fixed;
  z-index: 1;
  top: 0;
  right: -26.0625rem;
  background-color: #fff;
  overflow-x: hidden;
  transition: 0.5s;
  padding: 5rem;
}

/* @media screen and (min-width: 1024px) .sidenav {
  padding: 5rem;
} */
.sidenav a {
  padding: 0.5rem 2rem 0.5rem 0.5rem;
  text-decoration: none;
  font-size: 1rem;
  color: #818181;
  display: block;
  transition: 0.5s;
  line-height: 1.5rem;
}

.sidenav a:hover {
  color: #f1f1f1;
}

.sidenav .closebtn {
  position: absolute;
  top: 0;
  left: 25px;
  font-size: 2rem;
  margin-right: 50px;
}

/* @media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
} */

.image-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  margin: 1rem auto;
}

.image-container-content {
  display: flex;
  flex-direction: row;
}

.image-container-content img {
  display: block;
  width: 100%;
  max-width: 40rem;
}

.iamge-text {
  color: #000;
  line-height: 1.25;
}
